#header {
    background-color:rgb(228, 189, 139);
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Hubballi';
}
#nameAndTitle {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
#nameAndTitle h1, h2 {
    margin: 0;
}
h1, h2, h3 {
    text-transform: uppercase;
}
#contact {
    list-style-type: none;
}
#contact i {
    width: 30px;
    color: rgb(228, 189, 139);
}
#container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px;
}
#sidebar, #content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.card h3 {
    font-family: 'Hubballi';
}
.card {
    font-family: 'Montserrat';
    border: 1px solid #c9c4c4;
    border-radius: 15px;
    padding: 20px;
}